.gmsg {
  word-wrap: break-word;

  &.gmsg-wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(0 0 0 / 55%);
    font-size: 13px;
    font-variant: tabular-nums;
    line-height: 1.2;
    list-style: none;
    font-feature-settings: 'tnum';
    position: fixed;
    left: 0;
    right: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    overflow: visible;
    z-index: 9999;

    .scroll-wrapper {
      overflow-y: scroll;
      overflow-x: hidden;
      height: fit-content;
      max-height: 100vh;
      position: absolute;
      padding: 1rem 1rem 33px 50px;
      scroll-behavior: smooth;

      .scroll-content {
        padding-bottom: 3rem;
      }

      /* 浏览器的scrollbar */
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
      }
    }


    &.gmsg-wrapper-top-right {
      top: 0;
      align-items: flex-end;
    }

    &.gmsg-wrapper-center {
      top: calc(50% - 2rem);
      align-items: center;
    }
  }

  .gmsg-item {
    margin-bottom: .4rem;
    border-radius: 4px;
    text-align: center;
    animation-duration: 0.3s;
    position: relative;
    max-width: 20rem;
    min-width: 3rem;
    background: #fff;
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);

    /* 从中间开始放大 */
    transform-origin: center;

    .gmsg-main {
      padding: 8px 16px;
    }
  }

  .gmsg-count {
    text-align: center;
    position: absolute;
    left: -4px;
    top: -4px;
    background-color: red;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    border-radius: 2px;
    display: inline-block;
    min-width: 16px;
    height: 16px;
    animation-duration: 0.3s;
  }

  .gmsg-notice-item {
    margin-bottom: 1rem;
    border-radius: 4px;
    text-align: center;
    animation-duration: 0.25s;
    position: relative;
    width: 20rem;
    transform-origin: top center;
    background: #fff;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);

    &.closing {
      user-select: none;
      cursor: default;
    }

    .gmsg-notice-main {
      display: flex;
      align-items: normal;
      flex-direction: column;

      .gmsg-notice-header {
        font-size: 1.1rem;
        color: black;
        margin-left: 3.5rem;
        padding-right: 3rem;
        margin-top: .8rem;
        margin-bottom: 1rem;
      }

      .gmsg-notice-content {
        position: relative;
        margin-left: 2rem;
        margin-bottom: 1rem;
      }

      .gmsg-notice-footer {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        padding-bottom: .6rem;
        padding-top: 0;
        

        .gmsg-notice-meta {
          color: rgba($color: #000, $alpha: 35%);
          font-size: .7rem;
        }

        .gmsg-notice-iread {
          color: #A9DD4E;
          cursor: pointer;
        }
      }

      .gmsg-notice-icon {
        font-size: 1.8rem;
        position: absolute;
        top: .7rem;
        left: 1rem;
      }

      .gmsg-notice-close {
        font-size: 1.6rem;
        position: absolute;
        top: .7rem;
        right: .3rem;
      }
    }
  }

  .gmsg-content {
    text-align: left;
    position: relative;
    display: flex;
    pointer-events: all;
    align-items: flex-start;

    /* 解决字体模糊抖动问题 */
    transform: perspective(1px);


    .gmsg-content-with-close {
      padding-right: 20px;
    }
  }

  .gmsg-icon {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: 1px;
    margin-right: 8px;
    font-size: 16px;

    svg {
      display: inline-block;
    }
  }

  .gmsg-content-info {
    .gmsg-icon {
      color: #1890ff;
      user-select: none;
    }
  }

  .gmsg-icon-close {
    position: absolute;
    margin: 0;
    top: 2px;
    right: 0;
    padding: 0;
    overflow: hidden;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(0 0 0 / 45%);
    transition: color 0.3s;

    &:hover > svg path {
      stroke: #555;
    }
  }

  .animate-turn {
    animation: message-turn 1s linear infinite;
  }
}

/* loading的转动 */
@keyframes message-turn {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes message-moveout {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.7);
    max-height: 0;
    opacity: 0;
    margin-bottom: 0;
  }
}

@keyframes message-movein {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* svg抖动 */
@keyframes message-shake {
  0%,
  100% {
    transform: translateX(0);
    opacity: 1;
  }

  25%,
  75% {
    transform: translateX(-4px);
    opacity: 0.75;
  }

  50% {
    transform: translateX(4px);
    opacity: 0.25;
  }
}

/* notice进入 */
@keyframes notice-movein {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* notice退出 */
@keyframes notice-moveout {
  0% {
    opacity: 1;
  }

  40% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    max-height: 0;
    opacity: 0;
    margin: 0;
  }
}

